<div class="login">
  <form (ngSubmit)="onSubmit()">
    <label for="username">
      Tên đăng nhập
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="login.username"
      >
    </label>
    <label for="password">
      Mật khẩu
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="login.password"
      >
    </label>
    <button type="submit">
      Đăng nhập
    </button>
  </form>
</div>