<div class="register">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <label>
      <span>Tên tài khoản</span>
      <input type="text" formControlName="username">
    </label>
    <label>
      <span>Mật khẩu</span>
      <input type="password" formControlName="password">
    </label>
    <label>
      <span>Xác nhận mật khẩu</span>
      <input type="password" formControlName="rePassword">
    </label>
    <div class="error-text" *ngIf="registerForm.errors?.passwordNotMatch">
      Mật khẩu chưa trùng khớp
    </div>
    <label>
      <span>Email</span>
      <input type="email" formControlName="email">
    </label>
    <button type="submit" [disabled]="!registerForm.valid || !registerForm.touched">Đăng ký</button>
  </form>
</div>
