<div class="games">
  <div id="gameContainer">
  </div>
  <div class="games__top-score">
    <table border="1">
      <tr>
        <th>Người chơi</th>
        <th>Score</th>
      </tr>
      <tr *ngFor="let user of topScore">
        <td>{{ user?.user?.username }}</td>
        <td>{{ user?.games?.score }}</td>
      </tr>
    </table>
  </div>
</div>