<div class="navbar">
  <a
    [routerLink]="['/homepage']"
  >Trang chủ
  </a>
  <a
    [routerLink]="['/games']"
  >Games
  </a>
  <a
    [routerLink]="['/register']"
  >Đăng ký
  </a>
  <div *ngIf="userInfo" class="navbar__user">
    <span>{{ userInfo.username }}</span>
  </div>
  <button [hidden]="!userInfo" (click)="logout()">Đăng xuất</button>
  <button [hidden]="userInfo" (click)="openLogin()">Login</button>
</div>